.item {
  margin: 1rem 0;
}
.detailsFlexColumn{
  padding:1rem 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.detailsFlex{
  display: flex;
justify-content: center;
align-items: center;
padding:0 0.5rem;

}
.detailsFlexColumn h6 {
  display: flex;
  flex-wrap: nowrap;
}
.detailsFlexColumn h6 span{
  margin-right: 1rem;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding-top: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}